<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css?v=1">
</head>
<body>
    <header>
        <h1>Welcome to FurnitX!</h1>
        <button class="action-button">Learn More</button>
    </header>
    <h2>Choose an option</h2>
    <section class="features">
        <button onclick="location.href = '/tables';" class="feature">Table</button>
        <button onclick="location.href = '/chairs';" class="feature">Chair</button>
        <button onclick="location.href = '/beds';" class="feature">Bed</button>
        <button onclick="location.href = '/material';" class="feature">Closet</button>
        <button onclick="location.href = '/material';" class="feature">Drawer</button>
    </section>

    <footer>
        <p>© 2024 Dynamic Landing Page. All rights reserved.</p>
    </footer>
</body>
</html>