<html>
    <head>
        <title>Tables</title>
        <link rel="stylesheet" type="text/css" href="/static/tables.css?v=1">
    </head>
    <body>
        <h1>Tables</h1>
        <button onclick="location.href = '/main';">Back</button>
        <div class="gallery">
            {% for table in tables %}
        <button onclick="location.href = '/tables';">
            <div class="card">
                <img src="{{ table.image_url }}" alt="{{ table.title }}" class="card-image">
                <div class="card-content">
                    <h2>{{ table.title }}</h2>
                    <p>{{ table.description }}</p>
                    <p>Price: ${{ table.price }}</p>
                </div>
            </div>
            </button>
            {% endfor %}
        </div>
    </body>
</html>